# Logs
logs
*.log
npm-debug.log*

# Next.js & Node
node_modules
.next
dist
dist-ssr
*.local
.env
.env*.local

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
